body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(../images/beijing02.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcome > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#welcome-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.43;
}
#welcome-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 60px;
}
#welcome-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#welcome-divider-bottom .divider-fill
{
   fill: #FFFFFF;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_services1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services1
{
   box-sizing: border-box;
   padding: 80px 20px 0px 20px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#services1 > .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   float: left;
}
#services1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services1:before,
#services1:after,
#services1 .row:before,
#services1 .row:after
{
   display: table;
   content: " ";
}
#services1:after,
#services1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_welcomeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_welcomeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   line-height: 36px;
}
#wb_welcomeText p, #wb_welcomeText ul
{
   margin: 0;
   padding: 0;
}
#wb_welcomeText div
{
   text-align: center;
}
#wb_services2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services2
{
   box-sizing: border-box;
   padding: 50px 20px 80px 20px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#services2 > .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   float: left;
}
#services2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services2:before,
#services2:after,
#services2 .row:before,
#services2 .row:after
{
   display: table;
   content: " ";
}
#services2:after,
#services2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_moreServices
{
   background-color: transparent;
   background-image: url(../images/beijing02.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
   z-index: 0;
}
#moreServices
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 100px 10px 100px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0px;
}
#moreServices-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   background-color: #000000;
   opacity: 0.43;
}
#moreServices-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   height: 80px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.0);
}
#moreServices-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#moreServices-divider-top .divider-fill
{
   fill: #FFFFFF;
   transform-origin: center;
   transform: rotateY(0deg);
}
@media all and (max-width:480px) 
{
#moreServices
{
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
}
#wb_news
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#news
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#news > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#news > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#news > .row > .col-1
{
   float: left;
}
#news > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#news > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#news:before,
#news:after,
#news .row:before,
#news .row:after
{
   display: table;
   content: " ";
}
#news:after,
#news .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#news > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_blog
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#blog
{
   box-sizing: border-box;
   padding: 80px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#blog > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#blog > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blog > .row > .col-1
{
   float: left;
}
#blog > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#blog > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#blog:before,
#blog:after,
#blog .row:before,
#blog .row:after
{
   display: table;
   content: " ";
}
#blog:after,
#blog .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#blog > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#blog-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   height: 80px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.0);
}
#blog-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#blog-divider-top .divider-fill
{
   fill: #000000;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_blogGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#blogGrid
{
   box-sizing: border-box;
   padding: 50px 20px 75px 20px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#blogGrid > .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#blogGrid > .row > .col-1, #blogGrid > .row > .col-2, #blogGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#blogGrid > .row > .col-1, #blogGrid > .row > .col-2, #blogGrid > .row > .col-3
{
   float: left;
}
#blogGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#blogGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#blogGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#blogGrid:before,
#blogGrid:after,
#blogGrid .row:before,
#blogGrid .row:after
{
   display: table;
   content: " ";
}
#blogGrid:after,
#blogGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#blogGrid > .row > .col-1, #blogGrid > .row > .col-2, #blogGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_newsHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#newsHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#newsButton
{
   line-height: 35px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #55783E;
   border-radius: 4px;
   background-color: #55783E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin: 10px 0px 10px 0px;
}
#menuLayer
{
   background-color: transparent;
   background-image: none;
   opacity: 0.77;
}
#wb_menuPanel a, #menuPanel_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#menuPanel_markup
{
   display: none;
   margin: 0;
   padding: 75px 0px 0px 0px;
}
#menuPanel_panel #menuPanel_markup
{
   display: block;
}
#menuPanel_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menuPanel_markup li a, #menuPanel_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#menuPanel_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#menuPanel_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#menuPanel_markup li a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   background-color: #3E3E3E;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #FFFFFF;
   background-color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#menuPanel_markup li a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 0px solid #2E2E2E;
}
#menuPanel_markup li a .icon
{
   fill: currentColor;
   width: 13px;
   height: 13px;
}
#menuPanel_markup li a:hover .icon
{
   fill: currentColor;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: #484848;
   border: 1px solid #FFFFFF;
}
#menuPanel_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
#menuPanel .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#menuPanel.open .line:nth-child(1)
{
   -webkit-transform: translateY(6px) rotate(45deg);
   -moz-transform: translateY(6px) rotate(45deg);
   transform: translateY(6px) rotate(45deg);
}
#menuPanel.open .line:nth-child(2)
{
   opacity: 0;
}
#menuPanel.open .line:nth-child(3)
{
   -webkit-transform: translateY(-6px) rotate(-45deg);
   -moz-transform: translateY(-6px) rotate(-45deg);
   transform: translateY(-6px) rotate(-45deg);
}
#menuPanel
{
   line-height: 48px;
   width: 48px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#menuPanel-close
{
   display: none;
   text-align: right;
}
#menuPanel-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#menuPanel-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:320px) 
{
#menuPanel_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#menuPanel-close
{
   display: block;
}
}
#upStickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_upIcon:hover i
{
   color: #FFFFFF;
}
#wb_blogCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #000000;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: right;
}
#blogCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#blogCard1-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   width: 100%;
}
#wb_blogCard1:hover #blogCard1-card-item0
{
   -webkit-transform: rotate(10deg) scale(1.2,1.2) ;
   -moz-transform: rotate(10deg) scale(1.2,1.2) ;
   transform: rotate(10deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard1-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: left;
}
#blogCard1-card-item2
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0px 20px 0px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#blogCard1-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#blogCard1-card-item2 .svg-icon
{
   fill: #FFFFFF;
   width: 32px;
   height: 32px;
}
#blogCard1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard1-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#blogCard1-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   text-align: right;
}
#wb_blogCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #000000;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: right;
}
#blogCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#blogCard2-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   width: 100%;
}
#wb_blogCard2:hover #blogCard2-card-item0
{
   -webkit-transform: rotate(10deg) scale(1.2,1.2) ;
   -moz-transform: rotate(10deg) scale(1.2,1.2) ;
   transform: rotate(10deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard2-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: left;
}
#blogCard2-card-item2
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0px 20px 0px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#blogCard2-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#blogCard2-card-item2 .svg-icon
{
   fill: #FFFFFF;
   width: 32px;
   height: 32px;
}
#blogCard2-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard2-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#blogCard2-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   text-align: right;
}
#wb_blogCard3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #000000;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: right;
}
#blogCard3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#blogCard3-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   width: 100%;
}
#wb_blogCard3:hover #blogCard3-card-item0
{
   -webkit-transform: rotate(10deg) scale(1.2,1.2) ;
   -moz-transform: rotate(10deg) scale(1.2,1.2) ;
   transform: rotate(10deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard3-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#blogCard3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px -25px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: left;
}
#blogCard3-card-item2
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0px 20px 0px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#blogCard3-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#blogCard3-card-item2 .svg-icon
{
   fill: #FFFFFF;
   width: 32px;
   height: 32px;
}
#blogCard3-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard3-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#blogCard3-card-item5
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   text-align: right;
}
#wb_moreServicesCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(255,255,255,0.13);
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 30px 10px 30px 10px;
   padding: 0;
   text-align: center;
}
#moreServicesCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#moreServicesCard1-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 25px 0px 0px 0px;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   padding: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 43px;
}
#wb_moreServicesCard1:hover #moreServicesCard1-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard1-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard1-card-item0 a
{
   color: #9F9F9F;
   text-decoration: none;
}
#moreServicesCard1-card-item0 .svg-icon
{
   fill: #9F9F9F;
   width: 43px;
   height: 43px;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#wb_moreServicesCard1:hover #moreServicesCard1-card-item0 .svg-icon
{
   fill: #FFFFFF;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#moreServicesCard1-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_moreServicesCard1:hover #moreServicesCard1-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard1-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard1-card-item2
{
   box-sizing: border-box;
   margin: 0px 0px 20px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_moreServicesCard1:hover #moreServicesCard1-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard1-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard1-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_moreServicesCard1:hover #moreServicesCard1-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard1-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_moreServicesCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(255,255,255,0.13);
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 30px 10px 30px 10px;
   padding: 0;
   text-align: center;
}
#moreServicesCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#moreServicesCard2-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 25px 0px 0px 0px;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   padding: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 43px;
}
#wb_moreServicesCard2:hover #moreServicesCard2-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard2-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard2-card-item0 a
{
   color: #9F9F9F;
   text-decoration: none;
}
#moreServicesCard2-card-item0 .svg-icon
{
   fill: #9F9F9F;
   width: 43px;
   height: 43px;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#wb_moreServicesCard2:hover #moreServicesCard2-card-item0 .svg-icon
{
   fill: #FFFFFF;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#moreServicesCard2-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_moreServicesCard2:hover #moreServicesCard2-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard2-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard2-card-item2
{
   box-sizing: border-box;
   margin: 0px 0px 20px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_moreServicesCard2:hover #moreServicesCard2-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard2-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard2-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_moreServicesCard2:hover #moreServicesCard2-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard2-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_moreServicesCard3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(255,255,255,0.13);
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 30px 10px 30px 10px;
   padding: 0;
   text-align: center;
}
#moreServicesCard3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#moreServicesCard3-card-item0
{
   display: inline-block;
   height: 63px;
   box-sizing: border-box;
   margin: 25px 0px 0px 0px;
   padding: 10px 10px 10px 10px;
   border: 0px solid #9F9F9F;
   border-radius: 0px;
   padding: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 43px;
}
#wb_moreServicesCard3:hover #moreServicesCard3-card-item0
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard3-card-item0
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard3-card-item0 a
{
   color: #9F9F9F;
   text-decoration: none;
}
#moreServicesCard3-card-item0 .svg-icon
{
   fill: #9F9F9F;
   width: 43px;
   height: 43px;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#wb_moreServicesCard3:hover #moreServicesCard3-card-item0 .svg-icon
{
   fill: #FFFFFF;
   -webkit-transition: fill 300ms linear 0ms;
   -moz-transition: fill 300ms linear 0ms;
   transition: fill 300ms linear 0ms;
}
#moreServicesCard3-card-item1
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 2px #9F9F9F solid;
   border-width: 2px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_moreServicesCard3:hover #moreServicesCard3-card-item1
{
   border-top-color: #FFFFFF;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard3-card-item1
{
   border-top-color: #9F9F9F;
   -webkit-transition: border-top-color 300ms linear 0ms;
   -moz-transition: border-top-color 300ms linear 0ms;
   transition: border-top-color 300ms linear 0ms;
}
#moreServicesCard3-card-item2
{
   box-sizing: border-box;
   margin: 0px 0px 20px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_moreServicesCard3:hover #moreServicesCard3-card-item2
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard3-card-item2
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard3-card-item3
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #9F9F9F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_moreServicesCard3:hover #moreServicesCard3-card-item3
{
   color: #FFFFFF;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#moreServicesCard3-card-item3
{
   color: #9F9F9F;
   -webkit-transition: color 300ms linear 0ms;
   -moz-transition: color 300ms linear 0ms;
   transition: color 300ms linear 0ms;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(../images/beijing03.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 150px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#contact > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #ECF0F1;
   width: 50%;
   text-align: left;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1, #contact > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#contact-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.5;
}
#contact-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100px;
   line-height: 0;
   left: 0;
   transform: scale(-1.0, -1.0);
}
#contact-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#contact-divider-top .divider-fill
{
   fill: #FFFFFF;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_contactHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 20px 0px;
   text-align: left;
}
#contactHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#contactName
{
   border: 2px solid #ECF0F1;
   background-color: #F9F9F9;
   background-image: none;
   color :#999999;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
}
#contactEmail
{
   border: 2px solid #ECF0F1;
   background-color: #F9F9F9;
   background-image: none;
   color :#999999;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
}
#contactMessage
{
   border: 2px solid #ECF0F1;
   background-color: #F9F9F9;
   background-image: none;
   color :#999999;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#contactButton
{
   border: 1px solid #55783E;
   background-color: #55783E;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   margin: 10px 0px 10px 0px;
}
#contactPhone
{
   border: 2px solid #ECF0F1;
   background-color: #F9F9F9;
   background-image: none;
   color :#999999;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
}
#wb_footer
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   position: relative;
}
#footer
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 25px 25px 25px 25px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: left;
}
#wb_footerText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_footerText div
{
   text-align: left;
}
#wb_footerIcon1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon1
{
   height: 28px;
   width: 28px;
}
#footerIcon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon1:hover i
{
   color: #000000;
}
#wb_footerIcon2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon2
{
   height: 28px;
   width: 28px;
}
#footerIcon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 25px;
}
#wb_footerIcon2:hover i
{
   color: #000000;
}
#wb_footerIcon3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon3
{
   height: 28px;
   width: 28px;
}
#footerIcon3 i
{
   color: #000000;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_footerIcon3:hover i
{
   color: #000000;
}
#wb_footerIcon4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon4
{
   height: 28px;
   width: 28px;
}
#footerIcon4 i
{
   color: #000000;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_footerIcon4:hover i
{
   color: #000000;
}
#wb_contactText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_contactText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_contactText p, #wb_contactText ul
{
   margin: 0;
   padding: 0;
}
#wb_contactText div
{
   text-align: left;
}
#wb_blogHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#blogHeading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_servicesCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard1-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard1-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
#wb_servicesCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard2-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard2-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
#wb_servicesCard3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard3-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard3-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
#wb_servicesCard4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard4-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard4-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
#wb_servicesCard5
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard5-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard5-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard5-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
#wb_servicesCard6
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 10px 0px 10px;
   padding: 0;
   text-align: left;
}
#servicesCard6-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard6-card-item0
{
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#servicesCard6-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #282828;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 23.4px;
}
