body
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
body:after
{
   background-color: #FFFFFF;
   background-image: url(../images/mallorca6.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   content: "";
   height: 100vh;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: -1;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#arrow
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 25px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_home
{
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
   z-index: 0;
}
#home
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 60px 50px 60px 50px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_homeHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   -webkit-animation: transform-scale-in 2000ms linear 0ms 1 normal both;
   -moz-animation: transform-scale-in 2000ms linear 0ms 1 normal both;
   animation: transform-scale-in 2000ms linear 0ms 1 normal both;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#homeHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_banner
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #86AAC4;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#banner
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#banner > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#banner > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#banner > .row > .col-1
{
   float: left;
}
#banner > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#banner:before,
#banner:after,
#banner .row:before,
#banner .row:after
{
   display: table;
   content: " ";
}
#banner:after,
#banner .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#banner > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_reviewsHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#reviewsHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_infoBlock1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2B343D;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#infoBlock1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
   height: 300px;
}
#infoBlock1 > .col-1
{
   background-color: transparent;
   background-image: url(../images/mallorca4.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: -webkit-flex;
   -webkit-align-items: flex-start;
   display: flex;
   align-items: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#infoBlock1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   display: -webkit-flex;
   -webkit-align-items: center;
   display: flex;
   align-items: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#infoBlock1 > .col-1, #infoBlock1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
   height: auto;
}
}
#wb_infoBlock2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #273038;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#infoBlock2
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#infoBlock2 > .col-1, #infoBlock2 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#infoBlock2 > .col-1, #infoBlock2 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#infoBlock2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#infoBlock2 > .col-2
{
   background-color: transparent;
   background-image: url(../images/mallorca.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#infoBlock2 > .col-1, #infoBlock2 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_infoBlock3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #242B33;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#infoBlock3
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#infoBlock3 > .col-1, #infoBlock3 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#infoBlock3 > .col-1, #infoBlock3 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#infoBlock3 > .col-1
{
   background-color: transparent;
   background-image: url(../images/mallorca5.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#infoBlock3 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#infoBlock3 > .col-1, #infoBlock3 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_reviews
{
   background-color: #406784;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#reviews
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 75px 10px 0px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_reviewsLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #406784;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#reviewsLayoutGrid
{
   box-sizing: border-box;
   padding: 0px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#reviewsLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#reviewsLayoutGrid > .row > .col-1, #reviewsLayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#reviewsLayoutGrid > .row > .col-1, #reviewsLayoutGrid > .row > .col-2
{
   float: left;
}
#reviewsLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#reviewsLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#reviewsLayoutGrid:before,
#reviewsLayoutGrid:after,
#reviewsLayoutGrid .row:before,
#reviewsLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#reviewsLayoutGrid:after,
#reviewsLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#reviewsLayoutGrid > .row > .col-1, #reviewsLayoutGrid > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_newsletter
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#newsletter
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 50px 25px 25px 25px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_contact
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#contact
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 15px 25px 50px 25px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(29,34,39,0.94);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#links > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_footer
{
   background-color: rgba(31,35,40,0.94);
   background-image: none;
   border: 0px solid #1F2328;
   box-sizing: border-box;
   position: relative;
}
#footer
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 25px 25px 25px 25px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: left;
}
#wb_footerText
{
   color: #8F9194;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_footerText div
{
   text-align: left;
}
#wb_footerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon1
{
   height: 28px;
   width: 28px;
}
#footerIcon1 i
{
   color: #8F9194;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon1:hover i
{
   color: #21B2A6;
}
#wb_footerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon2
{
   height: 28px;
   width: 28px;
}
#footerIcon2 i
{
   color: #8F9194;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 25px;
}
#wb_footerIcon2:hover i
{
   color: #78A0BE;
}
#wb_footerIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon3
{
   height: 28px;
   width: 28px;
}
#footerIcon3 i
{
   color: #8F9194;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_footerIcon3:hover i
{
   color: #78A0BE;
}
#wb_footerIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_footerIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#footerIcon4
{
   height: 28px;
   width: 28px;
}
#footerIcon4 i
{
   color: #8F9194;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_footerIcon4:hover i
{
   color: #78A0BE;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#contactEmail
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 32px;
   padding: 4px 4px 4px 4px;
   margin: 0px 10px 0px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
}
#contactEmail:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#contactButton
{
   border: 1px solid #406784;
   border-radius: 4px;
   background-color: #406784;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   margin: 10px 0px 10px 0px;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #4F4F4F;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   -webkit-animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   -moz-animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon6
{
   height: 40px;
   width: 42px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 25px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #78A0BE;
}
#wb_infoBlock2Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: left;
}
#wb_infoBlock2Text
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   line-height: 27.5px;
}
#wb_infoBlock2Text p, #wb_infoBlock2Text ul
{
   margin: 0;
   padding: 0;
}
#wb_infoBlock2Text div
{
   text-align: left;
}
#wb_infoBlock1Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: left;
}
#wb_infoBlock1Text
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   line-height: 27.5px;
}
#wb_infoBlock1Text p, #wb_infoBlock1Text ul
{
   margin: 0;
   padding: 0;
}
#wb_infoBlock1Text div
{
   text-align: left;
}
#wb_infoBlock3Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: left;
}
#wb_infoBlock3Text
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   line-height: 27.5px;
}
#wb_infoBlock3Text p, #wb_infoBlock3Text ul
{
   margin: 0;
   padding: 0;
}
#wb_infoBlock3Text div
{
   text-align: left;
}
#infoBlock2Spacer
{
   border-color: #A0A0A0;
   border-color: rgba(160,160,160,0.00);
   border-style: solid;
   border-bottom-width: 300px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#infoBlock1Spacer
{
   border-color: #A0A0A0;
   border-color: rgba(160,160,160,0.00);
   border-style: solid;
   border-bottom-width: 300px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#infoBlock3Spacer
{
   border-color: #A0A0A0;
   border-color: rgba(160,160,160,0.00);
   border-style: solid;
   border-bottom-width: 300px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_linksText1 p, #wb_linksText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksText1 div
{
   text-align: left;
}
#wb_linksMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_linksText2 p, #wb_linksText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksText2 div
{
   text-align: left;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_linksText3 p, #wb_linksText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksText3 div
{
   text-align: left;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #BDBDBD;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_headerMenu a, #headerMenu_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#headerMenu_markup
{
   display: none;
   margin: 0;
   padding: 32px 32px 32px 32px;
}
#headerMenu_panel #headerMenu_markup
{
   display: block;
}
#headerMenu_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#headerMenu_markup li a, #headerMenu_markup li a:hover
{
   padding: 20px 10px 20px 10px;
   border-width: 0 0 1px 0 !important;
   border-radius: 0;
   box-shadow: none;
}
#headerMenu_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #000000;
}
#headerMenu_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#headerMenu_markup li a
{
   color: #FFFFFF;
   border: 1px solid rgba(0,0,0,0.11);
   background-color: #5081A5;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
}
#wb_headerMenu a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   background-color: rgba(62,62,62,0.00);
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
}
#headerMenu_markup li:nth-child(n+2) a, #headerMenu_markup li:nth-child(n+2) a:hover
{
   border-top-color: transparent !important;
}
#headerMenu_markup li a:hover
{
   color: #FFFFFF;
   background-color: #78A0BE;
   border: 1px solid rgba(0,0,0,0.11);
}
#wb_headerMenu a:hover
{
   color: #FFFFFF;
   background-color: rgba(72,72,72,0.00);
   border: 0px solid #2E2E2E;
}
#headerMenu_panel
{
   background-color: #5081A5;
   overflow-y: auto;
}
#headerMenu .line
{
   width: 24px;
   height: 4px;
   background: #FFFFFF;
   display: block;
   margin: 4px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#headerMenu .line:first-child
{
   margin-top: 12px;
}
#headerMenu.open .line:nth-child(1)
{
   -webkit-transform: translateY(8px) rotate(45deg);
   -moz-transform: translateY(8px) rotate(45deg);
   transform: translateY(8px) rotate(45deg);
}
#headerMenu.open .line:nth-child(2)
{
   opacity: 0;
}
#headerMenu.open .line:nth-child(3)
{
   -webkit-transform: translateY(-8px) rotate(-45deg);
   -moz-transform: translateY(-8px) rotate(-45deg);
   transform: translateY(-8px) rotate(-45deg);
}
#headerMenu
{
   line-height: 49px;
   width: 53px;
   height: 49px;
   position: absolute;
   z-index: 999;
}
#headerLabel
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   padding: 14px 4px 4px 4px;
   margin: 0;
   text-align: right;
   vertical-align: top;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 12px 0px;
   -webkit-animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   -moz-animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   animation: animate-fade-in 2000ms linear 6000ms 1 normal both;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#homeLine1
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
   -webkit-animation: slide-left-in 2000ms linear 0ms 1 normal both;
   -moz-animation: slide-left-in 2000ms linear 0ms 1 normal both;
   animation: slide-left-in 2000ms linear 0ms 1 normal both;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#homeLine2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
   -webkit-animation: slide-right-in 2000ms linear 0ms 1 normal both;
   -moz-animation: slide-right-in 2000ms linear 0ms 1 normal both;
   animation: slide-right-in 2000ms linear 0ms 1 normal both;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_homeHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 25px 0px 25px 0px;
   -webkit-animation: animate-fade-in 3000ms linear 2000ms 1 normal both;
   -moz-animation: animate-fade-in 3000ms linear 2000ms 1 normal both;
   animation: animate-fade-in 3000ms linear 2000ms 1 normal both;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#homeHeading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
   text-align: center;
}
#homeButton
{
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #406784;
   border-radius: 4px;
   background-color: #406784;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   margin: 10px 0px 10px 0px;
   -webkit-animation: animate-fade-in 3000ms linear 3000ms 1 normal both;
   -moz-animation: animate-fade-in 3000ms linear 3000ms 1 normal both;
   animation: animate-fade-in 3000ms linear 3000ms 1 normal both;
}
#wb_bannerHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
}
#bannerHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#bannerLine
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_bannerHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
}
#bannerHeading2
{
   color: #D2E9F8;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_bannerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 50px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_bannerIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#bannerIcon1
{
   height: 78px;
   width: 78px;
}
#bannerIcon1 i
{
   color: #D2E9F8;
   display: inline-block;
   font-size: 78px;
   line-height: 78px;
   vertical-align: middle;
   width: 77px;
}
#wb_bannerIcon1:hover i
{
   color: #337AB7;
}
#wb_bannerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 50px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_bannerIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#bannerIcon2
{
   height: 78px;
   width: 78px;
}
#bannerIcon2 i
{
   color: #D2E9F8;
   display: inline-block;
   font-size: 78px;
   line-height: 78px;
   vertical-align: middle;
   width: 44px;
}
#wb_bannerIcon2:hover i
{
   color: #337AB7;
}
#wb_bannerIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 50px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_bannerIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#bannerIcon3
{
   height: 78px;
   width: 78px;
}
#bannerIcon3 i
{
   color: #D2E9F8;
   display: inline-block;
   font-size: 78px;
   line-height: 78px;
   vertical-align: middle;
   width: 82px;
}
#wb_bannerIcon3:hover i
{
   color: #337AB7;
}
#reviewsLine
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_reviewsHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 10px 10px;
   text-align: center;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#reviewsHeading2
{
   color: #D3D4E4;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_reviewsCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #86AAC4;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard1-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard1-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard1-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard1-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#wb_reviewsCard3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #6C98B9;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard3-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard3-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard3-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard3-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#wb_reviewsCard4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #5B8CB0;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard4-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard4-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard4-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard4-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#wb_reviewsCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #78A0BE;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard2-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard2-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard2-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard2-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#wb_reviewsCard6
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #5081A5;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard6-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard6-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard6-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard6-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard6-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#wb_reviewsCard5
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: #5081A5;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#reviewsCard5-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#reviewsCard5-card-item0
{
   box-sizing: border-box;
   margin: 60px 0px -84px 20px;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   padding: 0;
   max-width: 64px;
   width: calc(100% - 20px);
   height: 64px;
}
#reviewsCard5-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
}
#reviewsCard5-card-item2
{
   box-sizing: border-box;
   margin: 0px 30px 20px 100px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#reviewsCard5-card-item3
{
   box-sizing: border-box;
   margin: 0px 30px 60px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
}
#arrow
{
   position: absolute !important; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
//   z-index: 1;
}
