body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #1F5F61;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#header > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url(images/scrabble.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#home
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 100px 0px 100px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#home > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#home > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#home > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   text-align: center;
}
@media (max-width: 480px)
{
#home > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_homeText 
{
   background-color: rgba(15,106,88,0.50);
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 20px 20px 20px;
   margin: 0;
   text-align: center;
}
#wb_homeText div
{
   text-align: center;
   white-space: nowrap;
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(15,106,88,0.04);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
}
#about .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#about > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#features
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#features .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   float: left;
}
#features > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-1 > .col-1-padding
{
   padding: 100px 0px 100px 0px;
}
#features > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-2 > .col-2-padding
{
   padding: 100px 0px 100px 0px;
}
#features > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-3 > .col-3-padding
{
   padding: 100px 0px 100px 0px;
}
#features:before,
#features:after,
#features .row:before,
#features .row:after
{
   display: table;
   content: " ";
}
#features:after,
#features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_portfolioHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#portfolioHeading
{
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_portfolioText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_portfolioText
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 21px;
}
#wb_portfolioText div
{
   text-align: left;
   white-space: nowrap;
}
#wb_projects
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/office-night1.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#projects
{
   box-sizing: border-box;
   padding: 150px 15px 150px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#projects .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#projects > .row > .col-1
{
   float: left;
}
#projects > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#projects:before,
#projects:after,
#projects .row:before,
#projects .row:after
{
   display: table;
   content: " ";
}
#projects:after,
#projects .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#projects > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#projects-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #193441;
   opacity: 0.69;
}
#wb_portfolio
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#portfolio
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 80px 0px 80px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#portfolio > .col-1, #portfolio > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#portfolio > .col-1, #portfolio > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#portfolio > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   text-align: center;
}
#portfolio > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#portfolio > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-end;
   align-self: flex-end;
   text-align: left;
}
#portfolio > .col-2 > .col-2-padding
{
   padding: 10px 0px 10px 0px;
}
@media (max-width: 480px)
{
#portfolio > .col-1, #portfolio > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_projectsText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_projectsText div
{
   text-align: center;
   white-space: nowrap;
}
#wb_portfolioImage1
{
   margin: 0;
   vertical-align: top;
}
#portfolioImage1
{
   border: 4px solid #1ABC9C;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_otherProjects
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#otherProjects
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 600px;
}
#otherProjects .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#otherProjects > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#otherProjects > .row > .col-1
{
   float: left;
}
#otherProjects > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#otherProjects:before,
#otherProjects:after,
#otherProjects .row:before,
#otherProjects .row:after
{
   display: table;
   content: " ";
}
#otherProjects:after,
#otherProjects .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#otherProjects > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_otherProjectsGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#otherProjectsGrid
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#otherProjectsGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#otherProjectsGrid > .row > .col-1, #otherProjectsGrid > .row > .col-2, #otherProjectsGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#otherProjectsGrid > .row > .col-1, #otherProjectsGrid > .row > .col-2, #otherProjectsGrid > .row > .col-3
{
   float: left;
}
#otherProjectsGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#otherProjectsGrid > .row > .col-1 > .col-1-padding
{
   padding: 20px 0px 20px 0px;
}
#otherProjectsGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#otherProjectsGrid > .row > .col-2 > .col-2-padding
{
   padding: 20px 0px 20px 0px;
}
#otherProjectsGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#otherProjectsGrid > .row > .col-3 > .col-3-padding
{
   padding: 20px 0px 20px 0px;
}
#otherProjectsGrid:before,
#otherProjectsGrid:after,
#otherProjectsGrid .row:before,
#otherProjectsGrid .row:after
{
   display: table;
   content: " ";
}
#otherProjectsGrid:after,
#otherProjectsGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#otherProjectsGrid > .row > .col-1, #otherProjectsGrid > .row > .col-2, #otherProjectsGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/office14.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 150px 15px 150px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#contact-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #193441;
   opacity: 0.69;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
}
#wb_footerText div
{
   text-align: center;
   white-space: nowrap;
}
#StickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 15px;
}
#wb_up-arrow:hover i
{
   color: #007BFF;
}
#homeShape
{
   top: 10px;
   width: 114px;
   height: 39px;
   background-color: #007BFF;
   background-image: none;
   border: 1px #007BFF solid;
   border-radius: 20px;
}
#homeShape:hover
{
   background-color: #006BE1;
   background-image: none;
   border: 1px #006BE1 solid;
}
#homeShape_text
{
   position: absolute;
   left: 10px;
   top: 11px;
   width: 92px;
   height: 16px;
   overflow: hidden;
   text-align: center;
}
#wb_homeShape
{
   margin: 10px 0px 10px 0px;
}
#portfolioShape
{
   width: 127px;
   height: 41px;
   background-color: #1ABC9C;
   background-image: none;
   border: 1px #FFFFFF solid;
   border-radius: 20px;
}
#portfolioShape_text
{
   position: absolute;
   left: 10px;
   top: 13px;
   width: 105px;
   height: 16px;
   overflow: hidden;
   text-align: center;
}
#wb_portfolioShape
{
   margin: 10px 0px 10px 0px;
}
#wb_featuresCard1
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#featuresCard1-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#featuresCard1-card-item0
{
   display: inline-block;
   height: 85px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #195F5E;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 85px;
}
#featuresCard1-card-item0 a
{
   color: #195F5E;
   text-decoration: none;
}
#featuresCard1-card-item0 i
{
   text-align: center;
   font-size: 85px;
   width: 85px;
}
#featuresCard1-card-item1
{
   box-sizing: border-box;
   margin: -36px 0px 0px 48px;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 24px;
}
#featuresCard1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 48px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_featuresCard2
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#featuresCard2-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#featuresCard2-card-item0
{
   display: inline-block;
   height: 85px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #195F5E;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 85px;
}
#featuresCard2-card-item0 a
{
   color: #195F5E;
   text-decoration: none;
}
#featuresCard2-card-item0 i
{
   text-align: center;
   font-size: 85px;
   width: 85px;
}
#featuresCard2-card-item1
{
   box-sizing: border-box;
   margin: -36px 0px 0px 48px;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 24px;
}
#featuresCard2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 48px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_featuresCard3
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#featuresCard3-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#featuresCard3-card-item0
{
   display: inline-block;
   height: 85px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #195F5E;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 85px;
}
#featuresCard3-card-item0 a
{
   color: #195F5E;
   text-decoration: none;
}
#featuresCard3-card-item0 i
{
   text-align: center;
   font-size: 85px;
   width: 85px;
}
#featuresCard3-card-item1
{
   box-sizing: border-box;
   margin: -36px 0px 0px 48px;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 24px;
}
#featuresCard3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 48px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_contactText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_contactText div
{
   text-align: center;
   white-space: nowrap;
}
#wb_otherProjectsHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#otherProjectsHeading
{
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_otherProjectsCard1
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#otherProjectsCard1-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#otherProjectsCard1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#otherProjectsCard1-card-item1
{
   box-sizing: border-box;
   margin: 20px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#otherProjectsCard1-card-item2
{
   box-sizing: border-box;
   margin: 20px 0px 20px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#otherProjectsCard1-card-item3
{
   display: inline-block;
   height: 37px;
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   padding: 12px 20px 12px 20px;
   border: 0px solid #1ABC9C;
   border-radius: 40px;
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
}
#otherProjectsCard1-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#wb_otherProjectsCard2
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#otherProjectsCard2-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#otherProjectsCard2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#otherProjectsCard2-card-item1
{
   box-sizing: border-box;
   margin: 20px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#otherProjectsCard2-card-item2
{
   box-sizing: border-box;
   margin: 20px 0px 20px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#otherProjectsCard2-card-item3
{
   display: inline-block;
   height: 37px;
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   padding: 12px 20px 12px 20px;
   border: 0px solid #1ABC9C;
   border-radius: 40px;
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
}
#otherProjectsCard2-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#wb_otherProjectsCard3
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#otherProjectsCard3-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#otherProjectsCard3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#otherProjectsCard3-card-item1
{
   box-sizing: border-box;
   margin: 20px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#otherProjectsCard3-card-item2
{
   box-sizing: border-box;
   margin: 20px 0px 20px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#otherProjectsCard3-card-item3
{
   display: inline-block;
   height: 37px;
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   padding: 12px 20px 12px 20px;
   border: 0px solid #1ABC9C;
   border-radius: 40px;
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
}
#otherProjectsCard3-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#wb_headerPanelMenu a, #headerPanelMenu_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#wb_headerPanelMenu
{
   margin: 5px 0px 0px 0px;
}
#headerPanelMenu_markup
{
   display: none;
   margin: 0;
   padding: 20px 8px 65px 8px;
}
#headerPanelMenu_panel #headerPanelMenu_markup
{
   display: block;
}
#headerPanelMenu_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#headerPanelMenu_markup li a, #headerPanelMenu_markup li a:hover
{
   padding: 10px 15px 10px 15px;
   border-width: 0;
   border-bottom-width: 0px;
   border-radius: 0;
   box-shadow: none;
}
#headerPanelMenu_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#headerPanelMenu_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_headerPanelMenu a, #headerPanelMenu_markup li a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   background-color: #1F5F61;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_headerPanelMenu a:hover, #headerPanelMenu_markup li a:hover
{
   color: #FFFFFF;
   background-color: #193441;
   border: 0px solid #2E2E2E;
}
#headerPanelMenu_panel
{
   background-color: #1F5F61;
   overflow-y: auto;
}
#headerPanelMenu .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#headerPanelMenu .line:first-child
{
   margin-top: 13px;
}
#headerPanelMenu.open .line
{
   -webkit-transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
   -moz-transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
   transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
}
#headerPanelMenu.open .line:nth-child(1)
{
   margin-top: 25px;
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   transform: rotate(225deg);
}
#headerPanelMenu.open .line:nth-child(2)
{
   opacity: 0;
}
#headerPanelMenu.open .line:nth-child(3)
{
   margin-top: -24px;
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   transform: rotate(135deg);
}
#headerPanelMenu
{
   line-height: 53px;
   width: 50px;
   height: 53px;
   position: absolute;
   z-index: 999;
}
#headerPanelMenu_markup ul li i
{
   font-size: 32px;
   padding: 0px 15px 0px 0px;
   vertical-align: middle;
   width: 32px;
}
#headerPanelMenu_markup span
{
   display: inline-block;
   height: 32px;
   vertical-align: middle;
   line-height: 32px;
}
#headerPanelMenu-footer
{
   bottom: 0;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-size: 16px;
   left: 0;
   padding: 0px 0px 16px 0px;
   position: absolute;
   text-align: center;
   width: 100%;
}
#headerBreadcrumb
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 0;
   margin: 15px 0px 15px 0px;
   text-align: left;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 16px;
}
#headerBreadcrumb a
{
   color: #FFFFFF;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#headerBreadcrumb > .active
{
   color: #777777;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#searchInput
{
   border: 0px solid #E15E28;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 26px;
   padding: 4px 4px 4px 4px;
   margin: 15px 10px 15px 0px;
   text-align: left;
   vertical-align: middle;
}
#searchInput:focus
{
   border-color: #E15E28;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(225,94,40,0.60);
   outline: 0;
}
#wb_searchClose
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 15px 0px 15px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_searchClose:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#searchClose
{
   height: 35px;
   width: 33px;
}
#searchClose i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#wb_searchClose:hover i
{
   color: #FFFFFF;
}
#wb_searchOpen
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 15px 0px 15px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_searchOpen:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#searchOpen
{
   height: 35px;
   width: 33px;
}
#searchOpen i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 30px;
}
#wb_searchOpen:hover i
{
   color: #FFFFFF;
}
#wb_contactForm
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contactForm
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#contactForm .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: left;
}
#contactForm > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#contactForm > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #CACACA;
   border-right-color: #CACACA;
   border-bottom-color: #CACACA;
   border-left-color: #CACACA;
   width: 50%;
   text-align: left;
}
#contactForm > .row > .col-2 > .col-2-padding
{
   padding: 0px 25px 0px 25px;
}
#contactForm:before,
#contactForm:after,
#contactForm .row:before,
#contactForm .row:after
{
   display: table;
   content: " ";
}
#contactForm:after,
#contactForm .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#links .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3, #links > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3, #links > .row > .col-4
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#links > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#links > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3, #links > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#links-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 1;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText1
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   line-height: 24px;
}
#wb_linksText1 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_linksMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #787878;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText3
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   line-height: 24px;
}
#wb_linksText3 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_linksMenu3
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #787878;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText2
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   line-height: 24px;
}
#wb_linksText2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_linksText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText4
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   line-height: 24px;
}
#wb_linksText4 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_linksMenu4
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_linksMenu4 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu4 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu4 a
{
   display: block;
   color: #787878;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu4 li:hover a, #wb_linksMenu4 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_linksMenu4 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu4 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu4 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #787878;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_contactHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 20px 0px;
   text-align: left;
}
#contactHeading
{
   color: #696969;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#contactName
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#contactName:focus
{
   border-color: #ECF0F1;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(236,240,241,0.60);
   outline: 0;
}
#contactEmail
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#contactEmail:focus
{
   border-color: #ECF0F1;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(236,240,241,0.60);
   outline: 0;
}
#contactMessage
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#contactMessage:focus
{
   border-color: #ECF0F1;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(236,240,241,0.60);
   outline: 0;
}
#contactButton
{
   border: 1px solid #1ABC9C;
   border-radius: 16px;
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 15px;
   margin: 10px 0px 40px 0px;
}
#contactBreadcrumb1
{
   padding: 10px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#contactBreadcrumb1 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#contactBreadcrumb1 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#contactBreadcrumb1 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb1 li i
{
   font-size: 13px;
   width: 15px;
}
#contactBreadcrumb2
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb2 > li
{
   display: inline-block;
   font-size: 15px;
}
#contactBreadcrumb2 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#contactBreadcrumb2 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#contactBreadcrumb2 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb2 li i
{
   font-size: 15px;
   width: 17px;
}
#contactBreadcrumb3
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb3 > li
{
   display: inline-block;
   font-size: 15px;
}
#contactBreadcrumb3 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#contactBreadcrumb3 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#contactBreadcrumb3 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb3 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 20px 0px;
   text-align: left;
}
#Heading13
{
   color: #696969;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_aboutText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_aboutText div
{
   text-align: center;
   white-space: nowrap;
}
#wb_aboutTextArt{
   height: 0;
   padding: 0 0 29% 0;
   height: 0 !important;
}
#wb_aboutTextArt
{
   margin: 0px 50px 0px 50px;
}
#headerPanelMenu_panel 
{
    margin-top: 65px;
}
#headerPanelMenu-footer 
{
    font-size: 12px;
    bottom: 70px !important;
}
