body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#header
{
   display: -webkit-flex;
   display: flex;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 7777;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: #F4F4F4;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 72px 0px 0px 0px;
}
#LayoutGrid1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: url(images/news1.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-end;
   align-self: flex-end;
   text-align: left;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: url(images/news2.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-end;
   align-self: flex-end;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#FlexGrid1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 25px 0px 25px 0px;
   padding: 0;
}
#FlexGrid1-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   font-size: 0px;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto auto;
   grid-template-areas:
      "article1 article2 article3"
      "article4 article5 article6";
}
#FlexGrid1 .article1
{
   display: flex;
   grid-area: article1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .article2
{
   display: flex;
   grid-area: article2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .article3
{
   display: flex;
   grid-area: article3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .article4
{
   display: flex;
   grid-area: article4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .article5
{
   display: flex;
   grid-area: article5;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .article6
{
   display: flex;
   grid-area: article6;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 200px 0px 25px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 52px;
   width: 66px;
}
#FontAwesomeIcon1 i
{
   color: #D02527;
   display: inline-block;
   font-size: 52px;
   line-height: 52px;
   vertical-align: middle;
   width: 59px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #808080;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 200px 0px 25px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_BootstrapCard4
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#BootstrapCard4-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#BootstrapCard4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#BootstrapCard4-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#BootstrapCard4-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card3
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card4
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card1
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card2
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card5
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: 10px 0px 0px 0px;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 10px 0px 10px 0px;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_FlexContainer1
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#FlexContainer1
{
   display: -webkit-flex;
   display: flex;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
}
#videoGallery
{
   background-color: #212121;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#videoGallery-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   font-size: 0px;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: auto auto auto auto auto;
   grid-template-areas:
      "story story1"
      "story story2"
      "story story3"
      "story story4"
      "story story5";
}
#videoGallery .story
{
   display: flex;
   grid-area: story;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#videoGallery .story1
{
   display: flex;
   grid-area: story1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#videoGallery .story2
{
   display: flex;
   grid-area: story2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#videoGallery .story3
{
   display: flex;
   grid-area: story3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#videoGallery .story4
{
   display: flex;
   grid-area: story4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#videoGallery .story5
{
   display: flex;
   grid-area: story5;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#newsletter
{
   display: -webkit-flex;
   display: flex;
   padding: 25px 25px 0px 25px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
}
#contact
{
   display: -webkit-flex;
   display: flex;
   padding: 15px 25px 25px 25px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
}
#FlexGrid2
{
   background-color: #FAFAFA;
   background-image: none;
   border: 0px solid #CCCCCC;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#FlexGrid2-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   font-size: 0px;
   grid-template-columns: 1fr 2fr 2fr;
   grid-template-rows: auto auto auto;
   grid-template-areas:
      "footer-title1 footer-title2 footer-title3"
      "footer-links1 footer-links2 footer-links3"
      "footer-copyright footer-copyright footer-copyright";
}
#FlexGrid2 .footer-title1
{
   display: flex;
   grid-area: footer-title1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-title2
{
   display: flex;
   grid-area: footer-title2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-title3
{
   display: flex;
   grid-area: footer-title3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-links1
{
   display: flex;
   grid-area: footer-links1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 15px 0px 15px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-links2
{
   display: flex;
   grid-area: footer-links2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 15px 0px 15px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-links3
{
   display: flex;
   grid-area: footer-links3;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 15px 0px 15px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid2 .footer-copyright
{
   display: flex;
   grid-area: footer-copyright;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 5px 5px 5px 5px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 42px;
   width: 56px;
}
#FontAwesomeIcon2 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 42px;
   line-height: 42px;
   vertical-align: middle;
   width: 48px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #4F4F4F;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading1
{
   color: #4F4F4F;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading4
{
   color: #4F4F4F;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#wb_Breadcrumb1
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb1
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb1 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #00ABF1;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb1 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb2
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb2 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #3A579A;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #3A579A;
}
#Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb2 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb3
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb3
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb3 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #CD1A1F;
   text-decoration: underline;
}
#Breadcrumb3 > .active
{
   color: #CD1A1F;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb4
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb4
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb4 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb4 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb4 a:hover
{
   color: #2290C6;
   text-decoration: underline;
}
#Breadcrumb4 > .active
{
   color: #2290C6;
}
#Breadcrumb4 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb4 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb5
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb5
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb5 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb5 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb5 a:hover
{
   color: #D72A25;
   text-decoration: underline;
}
#Breadcrumb5 > .active
{
   color: #D72A25;
}
#Breadcrumb5 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb5 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb6
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb6
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb6 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb6 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb6 a:hover
{
   color: #FE7C00;
   text-decoration: underline;
}
#Breadcrumb6 > .active
{
   color: #FE7C00;
}
#Breadcrumb6 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb6 li i
{
   font-size: 15px;
   width: 17px;
}
#wb_Breadcrumb7
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb7
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb7 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb7 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb7 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb7 > .active
{
   color: #00ABF1;
}
#Breadcrumb7 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb8
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb8
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb8 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb8 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb8 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb8 > .active
{
   color: #00ABF1;
}
#Breadcrumb8 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb9
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb9
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb9 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb9 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb9 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb9 > .active
{
   color: #00ABF1;
}
#Breadcrumb9 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb10
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb10
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb10 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb10 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb10 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb10 > .active
{
   color: #00ABF1;
}
#Breadcrumb10 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb11
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb11
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb11 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb11 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb11 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb11 > .active
{
   color: #00ABF1;
}
#Breadcrumb11 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb12
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb12
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb12 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb12 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb12 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb12 > .active
{
   color: #00ABF1;
}
#Breadcrumb12 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb13
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb13
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb13 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb13 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb13 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb13 > .active
{
   color: #00ABF1;
}
#Breadcrumb13 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Breadcrumb14
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb14
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb14 > li
{
   display: inline-block;
   font-size: 15px;
}
#Breadcrumb14 a
{
   color: #4F4F4F;
   text-decoration: none;
}
#Breadcrumb14 a:hover
{
   color: #00ABF1;
   text-decoration: underline;
}
#Breadcrumb14 > .active
{
   color: #00ABF1;
}
#Breadcrumb14 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 15px 10px 15px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text6
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text6 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 15px 10px 15px 10px;
   margin: 0;
   text-align: right;
}
#wb_Text4
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text4 div
{
   text-align: right;
   white-space: nowrap;
}
#wb_Heading13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading13
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 20px;
   margin: 0;
   text-align: left;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   line-height: 32px;
   padding: 4px 4px 4px 4px;
   margin: 0px 10px 0px 0px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 0px solid #D02527;
   background-color: #D02527;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   margin: 10px 0px 10px 0px;
}
#wb_Heading14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading14
{
   color: #D02527;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_MegaMenu1
{
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
}
#MegaMenu1
{
   font-size: 0px;
   list-style: none;
   margin: 0;
   padding: 0;
   margin: 0;
   text-align: right;
}
#MegaMenu1 *
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#MegaMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0;
   position: relative;
}
#MegaMenu1 li a
{
   float: left;
}
#MegaMenu1 li .submenu
{
   display: none;
   float: left;
   right: 0;
   padding: 15px 15px 15px 15px;
   position: absolute;
   text-align: left;
   top: 0;
   z-index: 9999;
}
#MegaMenu1 li .row
{
   clear: both;
   float: left;
   margin-bottom: 10px;
   width: 100%;
}
#MegaMenu1 li .submenu ul
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
}
#MegaMenu1 .submenu ul li
{
   width: 100%;
}
#MegaMenu1 .submenu ul li h2
{
   font-weight: bold;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2
{
   background-image: none;
   background-color: transparent;
   border-width: 0;
   display: block;
   font-weight: bold;
   font-style: normal;
   padding: 8px 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2 a:hover
{
   padding: 8px 0;
}
#MegaMenu1 .submenu ul li a
{
   display: block;
   float: none;
   font-weight: normal;
   font-style: normal;
   height: auto;
   padding: 9px 5px 9px 21px;
   text-decoration: none;
   text-indent: 0;
   white-space: nowrap;
}
#MegaMenu1 .submenu ul li a:hover
{
   border-style: solid;
   border-width: 1px;
   padding: 8px 4px 8px 20px;
}
#MegaMenu1 .submenu ul li a .ui-icon
{
   left: 0;
   margin-top: -8px;
   position: absolute;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu1_bullet.png);
   width: 16px;
   height: 16px;
}
#MegaMenu1 .button
{
   cursor: pointer;
   font-weight: normal;
   font-style: normal;
   margin: 0 1px 0 0;
   outline: 0;
   padding: 6px 20px 6px 10px;
   position: relative;
   text-align: center;
   text-decoration: none !important;
   color: #333333;
}
#MegaMenu1 .button:hover
{
   color: #FFFFFF;
}
#MegaMenu1 .button:active
{
   color: #FFFFFF;
}
#MegaMenu1 .ui-widget-content a
{
   color: #333333;
}
#MegaMenu1 .ui-widget-content a:hover
{
   color: #FFFFFF;
}
#MegaMenu1 .button .ui-icon
{
   left: auto;
   margin-top: -8px;
   margin-left: 0;
   position: absolute;
   right: 4px;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu1_button.png);
   width: 16px;
   height: 16px;
}
#MegaMenu1 .ui-state-default
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #F4F4F4;
   color: #333333;
}
#MegaMenu1 .ui-state-hover
{
   background-color: #CB0000;
   background-image: none;
   border-color: #CB0000;
   color: #FFFFFF;
}
#MegaMenu1 .ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   color: #333333;
}
#MegaMenu1-hamburger
{
   background: #FFFFFF;
   border: 1px solid #F4F4F4;
   cursor: pointer;
   display: none;
   padding: 5px 12px 6px 12px;
}
#MegaMenu1-hamburger .line
{
   width: 24px;
   height: 4px;
   background: #333333;
   display: block;
   margin: 4px auto;
}
#MegaMenu1-close
{
   display: none;
}
@media all and (max-width:1043px) 
{
#MegaMenu1-hamburger
{
   display: inline-block;
}
#MegaMenu1 > li
{
   width: 100%;
}
#MegaMenu1 > li > a
{
   display: none;
}
#MegaMenu1-nav{
   display: none;
   height: 100% !important;
   left: 0 !important;
   overflow-y: auto;
   position: fixed !important;
   top: 0 !important;
   width: 100% !important;
   z-index: 9998;
}
#MegaMenu1{
   height: 100% !important;
   width: 100% !important;
}
#MegaMenu1 > li > div
{
   box-sizing: border-box;
   border-width: 0 0 1px 0 !important;
   display: inline-block !important;
   float: none;
   position: static !important;
   width: 100% !important;
}
#MegaMenu1 li .submenu ul, #MegaMenu1 li .submenu ul li
{
   width: 100% !important;
}
#MegaMenu1-close
{
   display: block;
   left: 0;
   position: fixed;
   text-align: right;
   top: 0;
   width: 100%;
   z-index: 9999;
}
#MegaMenu1-close a
{
   color: #333333;
   display: inline-block;
   font-size: 24px;
   font-weight: bold;
   padding: 10px 40px 10px 10px;
   text-decoration: none;
}
#wb_MegaMenu1.open
{
   z-index: 9998 !important
}
#wb_MegaMenu1.open #MegaMenu1-nav
{
   display: block !important;
}
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 4px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading8
{
   color: #CB0000;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: center;
   align-self: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#Heading2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading2:hover
{
   color: #CB0000;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Heading2
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: center;
   align-self: center;
}
#Heading9
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#Heading9 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading9:hover
{
   color: #CB0000;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Heading9
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: center;
   align-self: center;
}
#Heading10
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#Heading10 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading10:hover
{
   color: #CB0000;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Heading10
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Heading11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: center;
   align-self: center;
}
#Heading11
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#Heading11 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading11:hover
{
   color: #CB0000;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Heading11
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image6
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display:inline-block;
   width: 100%;
   height: auto;
}
#wb_Heading12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 0px 10px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: center;
   align-self: center;
}
#Heading12
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#Heading12 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Heading12:hover
{
   color: #CB0000;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Heading12
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image7
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display:inline-block;
   width: 100%;
   height: auto;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image8
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display:inline-block;
   width: 100%;
   height: auto;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image9
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display:inline-block;
   width: 100%;
   height: auto;
}
#wb_Image10
{
   margin: 0;
   vertical-align: top;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 50%;
   flex-basis: 50%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image10
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display:inline-block;
   width: 100%;
   height: auto;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_YouTube1
{
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
