html
{
   overflow: hidden;
}
html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #193441;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#LayerLeft
{
   background-color: #1ABC9C;
   background-image: none;
   margin: 0;
}
#LayerRight
{
   background-color: #2F6179;
   background-image: none;
   margin: 0;
}
#wb_news
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#news
{
   box-sizing: border-box;
   padding: 250px 15px 250px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
}
#news .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#news > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#news > .row > .col-1
{
   float: left;
}
#news > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#news:before,
#news:after,
#news .row:before,
#news .row:after
{
   display: table;
   content: " ";
}
#news:after,
#news .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#news > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Breadcrumb3
{
   padding: 18px 15px 18px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb3 > li
{
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb3 a:hover
{
   color: #1ABC9C;
   text-decoration: none;
}
#Breadcrumb3 > .active
{
   color: #1ABC9C;
}
#Breadcrumb3 > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#Breadcrumb3 li i
{
   font-size: 16px;
   width: 18px;
}
#Breadcrumb4
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 0;
   margin: 0;
   text-align: right;
}
#Breadcrumb4 > li
{
   display: inline-block;
   font-size: 27px;
}
#Breadcrumb4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb4 a:hover
{
   color: #1ABC9C;
   text-decoration: underline;
}
#Breadcrumb4 > .active
{
   color: #1ABC9C;
}
#Breadcrumb4 > li + li:before
{
   content: "";
   padding: 0 10px;
   color: #C0C0C0;
}
#Breadcrumb4 li i
{
   font-size: 27px;
   width: 29px;
}
#Breadcrumb4 li
{
   transform: 0,1.0,1.0,0,0,0,0;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#Breadcrumb4 li:hover
{
   -webkit-transform: rotate(0deg) scale(1.2,1.2) ;
   -moz-transform: rotate(0deg) scale(1.2,1.2) ;
   transform: rotate(0deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_message 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 20px 10px 20px;
   margin: 0;
   text-align: left;
}
#wb_message div
{
   text-align: left;
}
#wb_indexCssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_indexCssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_indexCssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_indexCssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFFFFF solid;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   height: 50px;
   line-height: 50px;
   padding: 0px 8px 0px 8px;
   vertical-align: middle;
   text-align: center;
}
#wb_indexCssMenu1 li:hover a, #wb_indexCssMenu1 a:hover
{
   color: #1ABC9C;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#wb_indexCssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_indexCssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_indexCssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_indexCssMenu1 li a:hover
{
   border-top-color: #1ABC9C;
   border-top-width: 4px;
   -webkit-transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms;
   -moz-transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms;
   transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms;
}
#wb_indexCssMenu1 li a
{
   border-top-color: #193441;
   border-top-width: 4px;
   -webkit-transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms, all 500ms linear 0ms;
   -moz-transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms, all 500ms linear 0ms;
   transition: border-top-color 500ms linear 0ms, border-top-width 500ms linear 0ms, all 500ms linear 0ms;
}
#StickyLayer
{
   background-color: transparent;
   background-image: none;
   opacity: 0.80;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 50px;
   width: 52px;
}
#FontAwesomeIcon1 i
{
   color: #1ABC9C;
   display: inline-block;
   font-size: 50px;
   line-height: 50px;
   vertical-align: middle;
   width: 42px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 100px 20px 0px 0px;
}
#Heading3
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: right;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 100px 0px 0px 20px;
   text-align: left;
}
#Heading4
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_waitForItTitle
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#waitForItTitle
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#waitForItTitle .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#waitForItTitle > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#waitForItTitle > .row > .col-1
{
   float: left;
}
#waitForItTitle > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#waitForItTitle:before,
#waitForItTitle:after,
#waitForItTitle .row:before,
#waitForItTitle .row:after
{
   display: table;
   content: " ";
}
#waitForItTitle:after,
#waitForItTitle .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#waitForItTitle > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_waitForIt
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#waitForIt
{
   box-sizing: border-box;
   padding: 25px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#waitForIt .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#waitForIt > .row > .col-1, #waitForIt > .row > .col-2, #waitForIt > .row > .col-3, #waitForIt > .row > .col-4, #waitForIt > .row > .col-5, #waitForIt > .row > .col-6
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#waitForIt > .row > .col-1, #waitForIt > .row > .col-2, #waitForIt > .row > .col-3, #waitForIt > .row > .col-4, #waitForIt > .row > .col-5, #waitForIt > .row > .col-6
{
   float: left;
}
#waitForIt > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#waitForIt > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#waitForIt > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#waitForIt > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#waitForIt > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#waitForIt > .row > .col-6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#waitForIt:before,
#waitForIt:after,
#waitForIt .row:before,
#waitForIt .row:after
{
   display: table;
   content: " ";
}
#waitForIt:after,
#waitForIt .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#waitForIt > .row > .col-1, #waitForIt > .row > .col-2, #waitForIt > .row > .col-3, #waitForIt > .row > .col-4, #waitForIt > .row > .col-5, #waitForIt > .row > .col-6
{
   float: none;
   width: 100% !important;
}
}
#wb_TabIntro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#TabIntro
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#TabIntro .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#TabIntro > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#TabIntro > .row > .col-1
{
   float: left;
}
#TabIntro > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#TabIntro:before,
#TabIntro:after,
#TabIntro .row:before,
#TabIntro .row:after
{
   display: table;
   content: " ";
}
#TabIntro:after,
#TabIntro .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#TabIntro > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 25px 0px;
   text-align: left;
}
#wb_Text1
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   line-height: 26px;
}
#wb_Text1 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 20px 0px;
   text-align: left;
}
#Heading1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text7
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text7 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_CssMenu3
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0px 0px 25px 0px;
}
#wb_CssMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu3 a
{
   display: block;
   color: #1ABC9C;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 28px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 28px;
   text-align: left;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
}
#wb_CssMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text3 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_CssMenu2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0px 0px 25px 0px;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu2 a
{
   display: block;
   color: #1ABC9C;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 28px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 28px;
   text-align: left;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
}
#wb_CssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   line-height: 19px;
}
#wb_Text4 div
{
   text-align: left;
   white-space: nowrap;
}
#Shape1
{
   border-width: 0;
}
#jQueryTabs1
{
   box-sizing: border-box;
   margin: 0;
}
#jQueryTabs1 .tab-pane
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   display: none;
}
#jQueryTabs1 .active
{
   display: block;
}
#jQueryTabs1 .ui-tabs-nav li a
{
   font-size: 13px;
   padding: 10px 30px 10px 30px;
}
#jQueryTabs1 .nav-tabs
{
   box-sizing: border-box;
   display: block;
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   text-align: center;
}
#jQueryTabs1 .nav-tabs::after, #jQueryTabs1 .nav-tabs::before
{
   display: table;
   content: " ";
}
#jQueryTabs1 .nav-tabs::after
{
   clear: both;
}
#jQueryTabs1 .nav-tabs > li
{
   display: inline-block;
   float: none;
   font-size: 13px;
   margin-bottom: -1px;
   position: relative;
   text-align: left;
}
#jQueryTabs1 .nav-tabs > li > a
{
   border: 1px solid transparent;
   border-radius: 0px 0px 0 0;
   color: #5B5B5B;
   display: block;
   margin-right: 2px;
   padding: 10px 30px 10px 30px;
   position: relative;
   text-decoration: none;
}
#jQueryTabs1 .nav-tabs > li.active > a, #jQueryTabs1 .nav-tabs > li.active > a:focus, #jQueryTabs1	.nav-tabs > li.active > a:hover
{
   background: transparent;
   border: 0px solid #1ABC9C;
   border-bottom-width: 4px;
   padding: 11px 31px 6px 31px;
   color: #333333;
   cursor: default;
}
#jQueryTabs1 .nav-tabs a:active, #jQueryTabs1 .nav-tabs a:hover
{
   outline: 0;
}
#jQueryTabs1 .nav-tabs a:focus, #jQueryTabs1 .nav-tabs a:hover
{
   background-color: #FFFFFF;
   background-image: none;
   color: #5B5B5B;
   text-decoration: none;
}
#jQueryTabs1 .ui-widget-content
{
   font-size: 0px;
   text-align: center;
}
#jQueryTabs1 .ui-tabs-panel
{
   overflow: auto;
   padding: 0;
}
#jQueryTabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#Line1
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
#Line2
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#Line3
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
#Line4
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
#Line5
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#Line6
{
   border-color: #F8F8F8;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#Heading2
{
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#Heading5
{
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#Heading6
{
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 300px;
   height: 200px;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 300px;
   height: 200px;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 300px;
   height: 200px;
   vertical-align: top;
}
#wb_services-title
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services-title
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#services-title .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services-title > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services-title > .row > .col-1
{
   float: left;
}
#services-title > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#services-title:before,
#services-title:after,
#services-title .row:before,
#services-title .row:after
{
   display: table;
   content: " ";
}
#services-title:after,
#services-title .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services-title > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 0px 0px;
}
#Heading7
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#Heading8
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Shape3
{
   width: 112px;
   height: 3px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#Shape3_text
{
   position: absolute;
   left: 1px;
   top: 1px;
   width: 110px;
   height: 1px;
   overflow: hidden;
   text-align: center;
}
#wb_services1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services1
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   float: left;
}
#services1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services1:before,
#services1:after,
#services1 .row:before,
#services1 .row:after
{
   display: table;
   content: " ";
}
#services1:after,
#services1 .row:after
{
   clear: both;
}
@media (max-width: 600px)
{
#services1 > .row > .col-1, #services1 > .row > .col-2, #services1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card7
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card7-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card7-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card7-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card7-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card7-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card1
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card1-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card1-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card2
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card2-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card2-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_services2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services2
{
   box-sizing: border-box;
   padding: 25px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   float: left;
}
#services2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#services2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#services2:before,
#services2:after,
#services2 .row:before,
#services2 .row:after
{
   display: table;
   content: " ";
}
#services2:after,
#services2 .row:after
{
   clear: both;
}
@media (max-width: 600px)
{
#services2 > .row > .col-1, #services2 > .row > .col-2, #services2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card3
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card3-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card3-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card4
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card4-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_Card5
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0px 0px 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Card5-card-item0 i
{
   text-align: center;
   font-size: 43px;
   width: 43px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0px 0px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#contact > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   width: 50%;
   text-align: left;
}
#contact > .row > .col-2 > .col-2-padding
{
   padding: 25px 25px 25px 25px;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1, #contact > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#footer > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#footer > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#footer > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 600px)
{
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#Heading10
{
   color: #1ABC9C;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text12
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
}
#wb_Text12 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 0px 20px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 64px;
   width: 64px;
}
#FontAwesomeIcon2 i
{
   color: #1ABC9C;
   display: inline-block;
   font-size: 64px;
   line-height: 64px;
   vertical-align: middle;
   width: 64px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #1ABC9C;
}
#Editbox1
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#Editbox2
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#TextArea1
{
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color :#999999;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 8px 12px 8px 12px;
   margin: 5px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#Button2
{
   border: 1px solid #1ABC9C;
   border-radius: 16px;
   background-color: #1ABC9C;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 15px;
   margin: 10px 0px 10px 0px;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text13
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
}
#wb_Text13 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_waitForItHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#waitForItHeading2
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_waitForItHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#waitForItHeading1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_waitForItDays
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#waitForItDays
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 75px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText1 
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText1 div
{
   text-align: center;
}
#wb_waitForItHours
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#waitForItHours
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 75px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText2 
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText2 div
{
   text-align: center;
}
#wb_waitForItMinutes
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#waitForItMinutes
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 75px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText3 
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText3 div
{
   text-align: center;
}
#wb_waitForItSeconds
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#waitForItSeconds
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 75px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText4 
{
   background-color: #2F6179;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 4px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #1ABC9C;
   border-right-color: #1ABC9C;
   border-bottom-color: #1ABC9C;
   border-left-color: #1ABC9C;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_waitForItText4 div
{
   text-align: center;
}
